<!DOCTYPE html>
<html>
  <head>
    <title>My website</title>
  </head>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p>Here's some information about my website!</p>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
